@import 'styles/spectate';

// Uncomment the following line before publishing a News story
// @import "styles/news-ellipsis";

.chord-chart {
  svg {
    margin: 0 auto;
    display: block;

    text {
      text-anchor: middle;
    }
  }
}

.chord {
    transition-duration: 50ms;
}

#tooltip {
    pointer-events: none;
}

.word-tree {
    user-select:none;
}

.word-tree-container {
    display: flex;
    align-items: center;
}

.cover {
  max-width: 580;
  height: auto;
  margin: 0 auto;
  display: block;
}

.buttons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  span {
    margin-right: 12px;
  }
}