@import 'styles/spectate';

// Uncomment the following line before publishing a News story
// @import "styles/news-ellipsis";

.chord-chart {
  svg {
    margin: 0 auto;
    display: block;

    text {
      text-anchor: middle;
    }
  }
}

.chord {
    transition-duration: 50ms;
}

#tooltip {
    pointer-events: none;
}

.word-tree {
    user-select:none;
}

.word-tree-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text {
      font-family: $georgia;
    }
}

.cover {
  max-width: 580;
  height: auto;
  margin: 0 auto;
  display: block;
}

.buttons {
  margin: 10 auto;
  display: flex;
  justify-content: center;
  span {
    margin-right: 12px;
    font-family: $georgia;
    border-bottom: 1px solid #ccc;
  }
  span:hover{
    border-bottom: 1px solid #444;
  }
}
.search {
  margin: 5 auto;
  display: flex;
  justify-content: center;
  label {
    font-family: $georgia;
  }
  button {
    font-family: $georgia;
  }
}